body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #333;
}

nav {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
}

.nav-links a.active,
.nav-links a:hover {
  background: #ff9800;
  border-radius: 5px;
}

section {
  padding: 40px;
  text-align: center;
}

button {
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #e68900;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40px;
  margin: auto;
  gap: 10px;
  background:#ff0000
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.profile-img {
  width: 50px;
  height: auto;
  border-radius: 50%; /* Makes it a circle */
  display: block;
  margin: 20px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  padding: 10px;
  background: #ff0000;
  color: white;
}

/* Responsive Design */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
img {
  max-width: 50%;
  height: auto;
}

}